/* *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.simulation_container{
    
    height: 100vh;
    width: 100%;
   display: flex;
   flex-direction: column;
   overflow: auto;
   background-image: url("./background.jpg");
   background-repeat: no-repeat;
   
}

.input_area{

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: rgb(151, 70, 213);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input_floor{
    display: flex;
    gap: 10px;
}

.input_floor label{
    font-size: 18px;
}

.input_floor input{
    padding: 8px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    outline: none;
}

.input_lift{

    display: flex;
    gap: 10px;
}

.input_lift label{
    font-size: 18px;
}

.input_lift input{

    padding: 8px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    outline: none;
}

::placeholder{
    color: rgb(151, 70, 213);
}

.btn{
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: rgb(151, 70, 213);
    color: white;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btn:hover{
    background:rgb(151, 120, 174);
}













.building {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .floor {
    border-bottom: 1px solid rgb(17, 140, 26);
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .lift-buttons {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: column;
  }
  
  .lift-buttons button {
    float: left;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    margin: 2px 0;
    background-color: aquamarine;
  }
   */






   @import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Dosis", sans-serif;
  width: 80%;

  font-size: larger;
}
/* hr {
  width: 75%;
  border: 1px solid black;
} */

/* .input-area {
  height: 70vh;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  width: 800px;
  align-items: center;
} */
/* .input-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  justify-content: center;
  align-items: center;
} */
/* input {
  font-size: 1rem;
  font-weight: 300;
  height: 1rem;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */
/* .action-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
} */
/* .btn {
  background-color: rgb(0, 128, 32);
  color: azure;
} */
/* .btn:hover {
  background: rgb(182, 10, 10);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-image: url("./background.jpg");
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Dosis", sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  color: rgb(198, 211, 17);
  margin-bottom: 20px;
}

.input-area {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.input-group label {
  font-size: 20px;
  font-weight: 500;
  color: rgb(198, 211, 17);
}

.input-group input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 2rem;
  color: #333;
  padding: 1rem 2rem;
  text-align: center;
}

.input-group input:focus {
  outline: none;
  border-color: rgb(193, 22, 22);
}

/* .input-btn button {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 2rem;
  padding: 1rem 2rem;
  color: #333;
  background-color: #f1f1f1;
  cursor: pointer;
} */
.input-btn button {
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 7px;
  background-color: rgb(169, 175, 126);
}
.input-btn button:hover {
  background-color: rgba(186, 20, 20, 0.677);
}

.hide {
  display: none;
}

.output-area {
  width: 100%;
}

.action-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
}

.action-btn button {
  width: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #333;
  background-color: #f1f1f1;
  cursor: pointer;
  margin: 10px;
}

.action-btn button:hover {
  background-color: aquamarine;
}

.building {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.floor {
  border-bottom: 1px solid rgb(17, 140, 26);
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lift-buttons {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
}

.lift-buttons button {
  float: left;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin: 2px 0;
  background-color: aquamarine;
}

.lift-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.lift {
  height: 100%;
  width: 5rem;
  background-image: url("https://images.unsplash.com/photo-1551921038-a9009c20adb3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGVhcnRofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  padding: 0.5px;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.door-left {
  width: 49%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1547630824-eed1be6a27b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

.door-right {
  width: 49%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1547630824-eed1be6a27b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

.animation {
  animation: door 2.5s ease-in-out;
}

@keyframes door {
  0% {
    width: 49%;
  }

  50% {
    width: 0%;
  }

  100% {
    width: 49%;
  }
}

.active-btn {
  filter: invert(1);
  border-radius: 10%;
}